## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's read the dataset into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id="item1"></a>

## Import Keras

#### Let's go ahead and import the Keras library

In [10]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [11]:
from keras.models import Sequential
from keras.layers import Dense

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [13]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [14]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [15]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [16]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 832us/step - loss: 66870.1454
Epoch 2/50
721/721 [==============================] - 0s 301us/step - loss: 28104.2403
Epoch 3/50
721/721 [==============================] - 0s 305us/step - loss: 9556.8266
Epoch 4/50
721/721 [==============================] - 0s 360us/step - loss: 4529.1230
Epoch 5/50
721/721 [==============================] - 0s 308us/step - loss: 3861.1226
Epoch 6/50
721/721 [==============================] - 0s 332us/step - loss: 3680.9642
Epoch 7/50
721/721 [==============================] - 0s 311us/step - loss: 3516.5305
Epoch 8/50
721/721 [==============================] - 0s 306us/step - loss: 3359.5530
Epoch 9/50
721/721 [==============================] - 0s 308us/step - loss: 3194.3730
Epoch 10/50
721/721 [==============================] - 0s 328us/step - loss: 3040.4044
Epoch 11/50
721/721 [==============================] - 0s 304us/step - loss: 2891.5503
Epoch 12/50
721/721 [==============================] - 0s 306us/step - loss: 2746.0986
Epoch 13/50
721/721 [==============================] - 0s 386us/step - loss: 2607.2653
Epoch 14/50
721/721 [==============================] - 0s 300us/step - loss: 2481.8833
Epoch 15/50
721/721 [==============================] - 0s 359us/step - loss: 2353.6700
Epoch 16/50
721/721 [==============================] - ETA: 0s - loss: 2217.09 - 0s 359us/step - loss: 2237.9443
Epoch 17/50
721/721 [==============================] - 0s 333us/step - loss: 2127.2298
Epoch 18/50
721/721 [==============================] - 0s 356us/step - loss: 2017.3779
Epoch 19/50
721/721 [==============================] - 4s 5ms/step - loss: 1915.8766
Epoch 20/50
721/721 [==============================] - 0s 335us/step - loss: 1821.6411
Epoch 21/50
721/721 [==============================] - 0s 330us/step - loss: 1736.9036
Epoch 22/50
721/721 [==============================] - 0s 358us/step - loss: 1658.7214
Epoch 23/50
721/721 [==============================] - 0s 331us/step - loss: 1584.4767
Epoch 24/50
721/721 [==============================] - 0s 665us/step - loss: 1519.8898
Epoch 25/50
721/721 [==============================] - 0s 334us/step - loss: 1454.4287
Epoch 26/50
721/721 [==============================] - 0s 388us/step - loss: 1393.7553
Epoch 27/50
721/721 [==============================] - 0s 360us/step - loss: 1339.2429
Epoch 28/50
721/721 [==============================] - 0s 307us/step - loss: 1287.6230
Epoch 29/50
721/721 [==============================] - 0s 333us/step - loss: 1241.7267
Epoch 30/50
721/721 [==============================] - 0s 329us/step - loss: 1196.0577
Epoch 31/50
721/721 [==============================] - 0s 302us/step - loss: 1153.7401
Epoch 32/50
721/721 [==============================] - 0s 335us/step - loss: 1113.0077
Epoch 33/50
721/721 [==============================] - 0s 302us/step - loss: 1069.0512
Epoch 34/50
721/721 [==============================] - 0s 525us/step - loss: 1032.6255
Epoch 35/50
721/721 [==============================] - 0s 329us/step - loss: 1000.5195
Epoch 36/50
721/721 [==============================] - 0s 337us/step - loss: 964.2419
Epoch 37/50
721/721 [==============================] - 0s 310us/step - loss: 932.9282
Epoch 38/50
721/721 [==============================] - 0s 354us/step - loss: 904.7000
Epoch 39/50
721/721 [==============================] - 0s 332us/step - loss: 870.7225
Epoch 40/50
721/721 [==============================] - 0s 332us/step - loss: 844.2578
Epoch 41/50
721/721 [==============================] - 0s 393us/step - loss: 814.0958
Epoch 42/50
721/721 [==============================] - 0s 302us/step - loss: 787.7311
Epoch 43/50
721/721 [==============================] - 0s 308us/step - loss: 762.6554
Epoch 44/50
721/721 [==============================] - 0s 412us/step - loss: 739.2895
Epoch 45/50
721/721 [==============================] - 0s 332us/step - loss: 714.6376
Epoch 46/50
721/721 [==============================] - 0s 306us/step - loss: 692.7070
Epoch 47/50
721/721 [==============================] - 0s 330us/step - loss: 672.3539
Epoch 48/50
721/721 [==============================] - 0s 302us/step - loss: 650.1839
Epoch 49/50
721/721 [==============================] - 0s 304us/step - loss: 629.8025
Epoch 50/50
721/721 [==============================] - 0s 281us/step - loss: 613.3815

Next we need to evaluate the model on the test data.

In [17]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 227us/step

578.4457648317405

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

578.4457803749433 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [20]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("Mean Squared Error: "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Mean Squared Error: 1: 138.66376897818063
Mean Squared Error: 2: 140.14802333992276
Mean Squared Error: 3: 120.9506537181274
Mean Squared Error: 4: 123.69810021656616
Mean Squared Error: 5: 117.5371296706709
Mean Squared Error: 6: 105.83616820894012
Mean Squared Error: 7: 129.43761871239127
Mean Squared Error: 8: 92.95151154354552
Mean Squared Error: 9: 122.29909878332639
Mean Squared Error: 10: 108.54559800231341
Mean Squared Error: 11: 107.14151262696893
Mean Squared Error: 12: 100.03537377416123
Mean Squared Error: 13: 112.60712610633628
Mean Squared Error: 14: 120.13966942450762
Mean Squared Error: 15: 102.84498677670376
Mean Squared Error: 16: 104.03722021109078
Mean Squared Error: 17: 108.89691243588345
Mean Squared Error: 18: 97.0398283035624
Mean Squared Error: 19: 91.27025957323586
Mean Squared Error: 20: 113.45783497831968
Mean Squared Error: 21: 92.97542334991752
Mean Squared Error: 22: 96.75560042001669
Mean Squared Error: 23: 105.6572836718513
Mean Squared Error: 24: 95.9926881265486
Mean Squared Error: 25: 101.5332285316245
Mean Squared Error: 26: 93.3323219570913
Mean Squared Error: 27: 118.4419375422703
Mean Squared Error: 28: 100.6063092179283
Mean Squared Error: 29: 104.18699115148254
Mean Squared Error: 30: 107.84877833887982
Mean Squared Error: 31: 124.91453616441646
Mean Squared Error: 32: 100.2884824005917
Mean Squared Error: 33: 106.69070528394582
Mean Squared Error: 34: 106.4077912858389
Mean Squared Error: 35: 108.05430684506314
Mean Squared Error: 36: 118.3281786032865
Mean Squared Error: 37: 115.50940872241765
Mean Squared Error: 38: 109.62409434889513
Mean Squared Error: 39: 100.80336897272893
Mean Squared Error: 40: 112.40985102483755
Mean Squared Error: 41: 127.68595782529961
Mean Squared Error: 42: 108.41105582721796
Mean Squared Error: 43: 102.96905436099155
Mean Squared Error: 44: 105.28452340530346
Mean Squared Error: 45: 110.8830249872794
Mean Squared Error: 46: 110.14493444745209
Mean Squared Error: 47: 107.00830068248762
Mean Squared Error: 48: 111.54414189903481
Mean Squared Error: 49: 96.9447003707145
Mean Squared Error: 50: 103.96532188341456


Mean: 109.25481271624241
Standard Deviation: 11.054798408525611