## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's read the dataset into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id="item1"></a>

## Import Keras

#### Let's go ahead and import the Keras library

In [11]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [14]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [16]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [17]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 1s - loss: 1690.7389
Epoch 2/50
 - 0s - loss: 1672.4926
Epoch 3/50
 - 0s - loss: 1656.0577
Epoch 4/50
 - 0s - loss: 1640.7288
Epoch 5/50
 - 0s - loss: 1626.4610
Epoch 6/50
 - 0s - loss: 1612.8183
Epoch 7/50
 - 0s - loss: 1599.8622
Epoch 8/50
 - 0s - loss: 1587.4182
Epoch 9/50
 - 0s - loss: 1575.4467
Epoch 10/50
 - 0s - loss: 1563.6114
Epoch 11/50
 - 0s - loss: 1551.7598
Epoch 12/50
 - 0s - loss: 1539.9219
Epoch 13/50
 - 0s - loss: 1527.6513
Epoch 14/50
 - 0s - loss: 1514.9343
Epoch 15/50
 - 0s - loss: 1501.7062
Epoch 16/50
 - 0s - loss: 1487.6859
Epoch 17/50
 - 0s - loss: 1472.7621
Epoch 18/50
 - 0s - loss: 1457.1460
Epoch 19/50
 - 0s - loss: 1440.6452
Epoch 20/50
 - 0s - loss: 1423.3145
Epoch 21/50
 - 0s - loss: 1405.1848
Epoch 22/50
 - 0s - loss: 1386.3157
Epoch 23/50
 - 0s - loss: 1366.9676
Epoch 24/50
 - 0s - loss: 1346.6825
Epoch 25/50
 - 0s - loss: 1325.8863
Epoch 26/50
 - 0s - loss: 1304.5179
Epoch 27/50
 - 0s - loss: 1282.3325
Epoch 28/50
 - 0s - loss: 1259.6978
Epoch 29/50
 - 0s - loss: 1236.7066
Epoch 30/50
 - 0s - loss: 1213.0627
Epoch 31/50
 - 0s - loss: 1189.6393
Epoch 32/50
 - 0s - loss: 1165.2673
Epoch 33/50
 - 0s - loss: 1141.3475
Epoch 34/50
 - 0s - loss: 1116.5909
Epoch 35/50
 - 0s - loss: 1092.1466
Epoch 36/50
 - 0s - loss: 1067.2168
Epoch 37/50
 - 0s - loss: 1042.6274
Epoch 38/50
 - 0s - loss: 1017.6717
Epoch 39/50
 - 0s - loss: 992.7830
Epoch 40/50
 - 0s - loss: 968.2108
Epoch 41/50
 - 0s - loss: 943.5346
Epoch 42/50
 - 0s - loss: 918.9830
Epoch 43/50
 - 0s - loss: 895.0125
Epoch 44/50
 - 0s - loss: 870.9539
Epoch 45/50
 - 0s - loss: 847.2576
Epoch 46/50
 - 0s - loss: 823.9632
Epoch 47/50
 - 0s - loss: 800.8562
Epoch 48/50
 - 0s - loss: 778.0956
Epoch 49/50
 - 0s - loss: 755.8121
Epoch 50/50
 - 0s - loss: 733.6573

Next we need to evaluate the model on the test data.

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 226us/step

675.2208374418487

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

675.2208497578116 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [21]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("Mean Squared Error: "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Mean Squared Error: 1: 213.7114309662754
Mean Squared Error: 2: 152.10946768850184
Mean Squared Error: 3: 95.85310973627281
Mean Squared Error: 4: 79.51908791798218
Mean Squared Error: 5: 69.74189662007453
Mean Squared Error: 6: 64.61800567231903
Mean Squared Error: 7: 58.27519356934384
Mean Squared Error: 8: 37.62371385444715
Mean Squared Error: 9: 40.94578579405751
Mean Squared Error: 10: 35.143364693354634
Mean Squared Error: 11: 33.891087677100714
Mean Squared Error: 12: 34.2662853500218
Mean Squared Error: 13: 39.00811745973852
Mean Squared Error: 14: 42.416225470385506
Mean Squared Error: 15: 31.375497355044466
Mean Squared Error: 16: 29.854126606172727
Mean Squared Error: 17: 31.840452743579654
Mean Squared Error: 18: 33.40386607346026
Mean Squared Error: 19: 30.645981575678853
Mean Squared Error: 20: 33.26971292958676
Mean Squared Error: 21: 29.188554510715324
Mean Squared Error: 22: 29.509027715639775
Mean Squared Error: 23: 28.387066134357145
Mean Squared Error: 24: 28.80561438501846
Mean Squared Error: 25: 31.26337979758056
Mean Squared Error: 26: 32.58587179832088
Mean Squared Error: 27: 27.86018829592609
Mean Squared Error: 28: 28.175627168328244
Mean Squared Error: 29: 32.30469838855336
Mean Squared Error: 30: 28.902645197501073
Mean Squared Error: 31: 27.0540038235365
Mean Squared Error: 32: 25.990015029907227
Mean Squared Error: 33: 23.3621887774915
Mean Squared Error: 34: 29.924153176711986
Mean Squared Error: 35: 31.18133747384772
Mean Squared Error: 36: 34.45815896833599
Mean Squared Error: 37: 24.16871878552977
Mean Squared Error: 38: 31.424751158285297
Mean Squared Error: 39: 28.950253761316194
Mean Squared Error: 40: 23.78731811548128
Mean Squared Error: 41: 30.19578470149858
Mean Squared Error: 42: 24.605008054319708
Mean Squared Error: 43: 26.403213291106486
Mean Squared Error: 44: 31.664720924155226
Mean Squared Error: 45: 28.95823747208975
Mean Squared Error: 46: 29.30031080770647
Mean Squared Error: 47: 26.363042961046535
Mean Squared Error: 48: 27.45003321872946
Mean Squared Error: 49: 29.633484312631552
Mean Squared Error: 50: 26.551869117712126


Mean: 40.91843380968705
Standard Deviation: 32.814253376863185

## Mean of the mean squared errors in B is 40.91843380968705 which is less than that of A(109.25481271624241)